<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lib.Harmony" version="2.2.1" targetFramework="net472" requireReinstallation="true" />
  <package id="LiteDB" version="5.0.13" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
</packages>